<div class="memes">
  <div class="test">
    <%= render partial: 'memes/memes', locals: {memes: @memes} %>
    <div id="pagination" class="clearfix">
      <% if @memes.previous_page %>
        <%= link_to "< Previous", params.merge(page: @memes.previous_page), :class => "prev", :remote => true %>
      <% end %>
      <% if @meme_count != @memes.per_page && (@meme_count/@memes.per_page).ceil >= @memes.current_page %>
       <%= link_to "Next >", params.merge(page: @memes.current_page + 1), data: {:per_page => @memes.per_page, :page => @memes.current_page, :remote => true}, :class => "next" %>
      <% end %>
    </div>
  </div>
</div>