<div id="stream">
  <h1>Featured</h1>
  <div style="display:inline-block;width:100%;">
    <%= render partial: 'memes', locals: {memes: @featured} %>
  </div>
  <hr>
  <div style="display:inline-block;width:100%;" id="memes">
    <%= render partial: 'memes', locals: {memes: @memes} %>
    <%= will_paginate(@memes) %>
  </div>
</div>