<div id="stream">
  <% if @featured.length > 0 %>
    <h1 style="font-style:italic;">A new news site</h1>
    <div id="carousel" class="memes owl-carousel">
      <%= render partial: 'memes', locals: {memes: @featured} %>
    </div>
    <hr>
  <% end %>
  <div id="reload">
    <%= render partial: 'all_memes', locals: {memes: @memes} %>
  </div>
</div>