<div id="stream">
  <% if @featured.length > 0 %>
    <h1>Featured</h1>
    <div id="carousel" class="memes owl-carousel">
      <%= render partial: 'memes', locals: {memes: @featured} %>
    </div>
    <hr>
  <% end %>
  <div class="memes" id="reload">
    <div class="test">
    <%= render partial: 'memes', locals: {memes: @memes} %>
    </div>
  </div>
</div>
</div>
<% if @memes.length > 12 %>
  <div id="pagination">
    <div class="container">
      <% if @memes.previous_page %>
        <%= link_to "< Previous", params.merge(page: @memes.previous_page), :class => "prev" %>
      <% end %>
      <% if @memes.next_page %>
        <%= link_to "Next >", params.merge(page: @memes.next_page), :class => "next" %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <img src="" alt="" width="100%" class="modal-meme">
        <div id="social-share-buttons">
          <span id="like"></span>
          <span id="tweet"></span>
          <span id="plusone"></span>
          <span id="tumblr"></span>
          <span id="reddit"></span>
        </div>
      </div>
    </div>
  </div>
</div>