<div id="stream">
  <h1>Featured</h1>
  <div class="memes">
    <%= render partial: 'memes', locals: {memes: @featured} %>
  </div>
  <hr>
  <div class="memes" id="reload">
    <%= render partial: 'memes', locals: {memes: @memes} %>
  </div>
  <%= will_paginate(@memes) %>
</div>