<div id="stream">
  <% if @featured.length > 0 %>
    <h1>Featured</h1>
    <div id="carousel" class="memes owl-carousel">
      <%= render partial: 'memes', locals: {memes: @featured} %>
    </div>
    <hr>
  <% end %>
  <div class="memes" id="reload">
    <div class="test">
    <%= render partial: 'memes', locals: {memes: @memes} %>
    </div>
  </div>
</div>