<div class="row">
  <div class="col-md-6">
    <%= image_tag @meme.image %>
  </div>
  <div class="col-md-6">
    <%= text_field_tag @meme.top_line, @meme.top_line %>
    <%= text_field_tag @meme.bottom_line, @meme.bottom_line %>
  </div>
</div>

<%= raw(@meme.article) %>