<ul class="nav navbar-left navbar-nav">
  <li class="dropdown">
    <%= link_to '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'} do %>
      <b class="caret"></b> <span class="desc">Filter</span>
    <% end %>
    <ul class="dropdown-menu" role="menu">
      <li class="active"><%= link_to 'MOST POPULAR', memes_path(:sort => 'popular'), :remote => true %></li>
      <li><%= link_to 'MOST RECENT', memes_path(:sort => 'recent'), :remote => true %></li>
      <% @meme_categories.each do |c| %>
        <li><%= link_to c.name, memes_path(:filter => c.name), :remote => true %></li>
      <% end %>
    </ul>
  </li>
</ul>