<div id="stream">
  <% @memes.each do |meme| %>
    <%= link_to meme, :class => "meme" do %>
      <div class="meme-inner">
        <%= image_tag meme.image %>
      </div>
    <% end %>
  <% end %>
</div>