/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require bootsy
 *= require owl.carousel
 *= require owl.theme
 *= require owl.transitions
 *= require_tree .
 */

html,
body { height: 100%; }

body:not(#home):not(.form-control):not(#show) {
  display: table;
  width: 100%;
}

body:not(#home):not(.wysihtml5-supported):not(#show) #wrap, body:not(#home):not(.wysihtml5-supported):not(#show) footer {
  display: table-row;
  height: 1px;
}

body:not(#home):not(.wysihtml5-supported):not(#show) #wrap {
   height: 100%;
}

 footer {
  background: black;
  color : white;
  text-align: center;
  font-style:italic;
 }

 body:not(#home):not(#show) footer {
  margin-top : 50px;
 }

 #contact {
  font-family: 'MyriadPro-Bold';
  margin-top : 60px;
  display: block;
  color : #fff;
  margin-bottom: 60px;
 }

 .copyright {
  font-family : Times;
  margin:0;
  padding-bottom: 10px;
 }

 #pagination {
  clear:both;
  font-family: 'MyriadPro-Bold';
  font-style:italic;
  text-transform: uppercase;
  padding : 10px 0;
 }

 @media (min-width: 480px ) {
  #pagination {
    margin-left : 2.5%;
  }
 }

 #pagination a {
  color : #000;
 }

 #pagination .prev {
  float : left;
 }

 #pagination .next {
  float : right;
 }

 .delete {
  color : white;
  text-decoration: none;
 }

 .delete:hover {
  color : red;
 }