/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require bootsy
 *= require owl.carousel
 *= require owl.theme
 *= require owl.transitions
 *= require_tree .
 */

html,
body { height: 100%; }

  .page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height : 50px;
}

 footer {
  background: black;
  color : white;
  line-height: 50px;
  font-size: 12px;
 }

 .copyright {
  margin : 0;
 }

 #contact {
  color : #fff;
 }

 #pagination {
  clear:both;
  font-weight: bold;
  font-style:italic;
  text-transform: uppercase;
  padding : 10px 0;
 }

 @media (min-width: 480px ) {
  #pagination {
    margin-left : 2.5%;
  }
 }

 #pagination a {
  color : #000;
 }

 #pagination .prev {
  float : left;
 }

 #pagination .next {
  float : right;
 }

 .delete {
  color : white;
  text-decoration: none;
 }

 .delete:hover {
  color : red;
 }

 #loading {
  width: 100%;
  padding: 20px 0;
  text-align: center;
 }

 .spin{
   -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
     -webkit-transform-origin: 50% 58%;
         transform-origin:50% 58%;
         -ms-transform-origin:50% 58%; /* IE 9 */
   font-size: 16px;
   color : #869791;
}

.errors {
  margin-bottom: 10px;
}

.error {
  margin-top:5px;
}

label.error {
  font-weight: normal;
}

.error, .errors {
  color : red;
  display: block;
}