/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require bootsy
 *= require owl.carousel
 *= require owl.theme
 *= require owl.transitions
 *= require_tree .
 */

 footer {
  background: black;
  color : white;
  text-align: center;
  font-style:italic;
 }

 body:not(#home) footer, body:not(#show) footer {
  margin-top : 50px;
 }

 footer a {
  font-family: 'MyriadPro-Bold';
  color:white;
  margin-top : 60px;
  display: block;
 }

 .copyright {
  margin-top : 80px;
  font-family : Times;
 }

 #pagination {
  margin-top:20px;
  background: black;
  font-family: 'MyriadPro-Bold';
  font-style:italic;
  text-transform: uppercase;
  padding:10px 0 0 0;
 }

 #pagination a {
  color : #fff;
 }

 #pagination .next {
  float : right;
 }

 .delete {
  color : white;
  text-decoration: none;
 }

 .delete:hover {
  color : red;
 }