@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('MyriadPro-Bold.eot?') format('eot'), 
       url('MyriadPro-Bold.otf')  format('opentype'),
       url('MyriadPro-Bold.woff') format('woff'), 
       url('MyriadPro-Bold.ttf')  format('truetype'),
       url('MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight : normal;
}

@font-face {
  font-family: 'MinionPro-It';
  src: url('MinionPro-It.eot?') format('eot'), 
       url('MinionPro-It.otf')  format('opentype'),
       url('MinionPro-It.woff') format('woff'), 
       url('MinionPro-It.ttf')  format('truetype'),
       url('MinionPro-It.svg#MinionPro-It') format('svg');
}

@font-face {
  font-family: 'MyriadPro-BoldCond';
  src: url('MyriadPro-BoldCond.eot?') format('eot'), 
       url('MyriadPro-BoldCond.otf')  format('opentype'),
       url('MyriadPro-BoldCond.woff') format('woff'), 
       url('MyriadPro-BoldCond.ttf')  format('truetype'),
       url('MyriadPro-BoldCond.svg#MyriadPro-BoldCond') format('svg');
}