* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin : 0;
  color  : #000;
}

.social-links {
  margin-bottom : 10px;

  a {
    vertical-align: top;
  }
}

.fb_iframe_widget {
  vertical-align : top;
}