* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin : 0;
  color  : #000;
  font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.dropdown-menu {
  font-size: 12px;
}

.dropdown-menu a {
  font-weight: bold !important;
}

.social-links {
  margin-bottom : 10px;

  a {
    vertical-align: top;
  }
}

.fb_iframe_widget {
  vertical-align : top;
}