header {
  text-align    : center;
  background    : #000;
  font-style: italic;
  padding-top: 15px;

  a {
    color : #fff;
  }

  a:hover {
    color           : #fff;
    text-decoration : none;
  }

  #logo {
    font-size: 13.47px;
    span {
      font-size: 54px;
      font-weight: bold;
      display:block;
      line-height: 40px;
      margin-bottom: 6px;
    }
  }

  

}