#memecanvas {
  border:1px dashed black;
  width : 100%;
  height : 100%;
}

#rawimage {
  width : 100%;
  height : 100%;
}

.mfnotransform {
  display : none;
}

#meme {

  #article, .details, h3 {
    font-family : Times;
  }

  h3 {
    font-style: italic;
    text-transform : uppercase;
    font-weight : bold;
    font-size : 16px;
    margin-top :0;
  }

  #comments ul {
    list-style: none;
    margin:0 0 10px 0;
    padding:0;
  }

  textarea {
    height : 20px;
  }

  .meme, .single-meme, #article img {
    margin-bottom : 10px;
    width : 100%;
    max-width : 640px;
  }

  .details {
    font-size : 16px;
    margin-bottom : 10px;

    span {
      font-style: italic;
    }

  }

  p {
    font-size : 16px;
  }

}

@media (min-width : 992px) {
  #meme #left {
    border-right : 1px solid #e7e7e7;
  }
}

#comments {
  border : 1px solid #b6b6b6;
  padding : 10px;
}

#comments ul {
  max-height:350px;
  overflow:auto;
}

.comment {
  font-size : 11px;
  position: relative;
  padding-left:33px;
  display:inline-block;
  width:100%;
}

#meme #comments p {
  font-size : 11px;
  color : #555;
}

.comment img {
  width  : 28px;
  height : 28px;
  margin-right : 5px;
  position: absolute;
  left:0;
}

#meme .comment .date {
  color : #000;
  float:right;
  text-transform:uppercase;
  font-weight:bold;
}

.modal-body textarea {
  height: 100px;
}

#comments .actions {
  position : absolute;
  right:0;
}

.comment input {
  width: 100%;
  height: 100%;
}

#reddit a {
  vertical-align: top;
}