nav {
  background     : #000;
  text-align     : center;
  text-transform : uppercase;
  color          : #fff;
  font-family    : 'MyriadPro-Bold';
  font-size      : 12px;
  margin         : 0 0 20px 0;
  position       : relative;

  ul {
    list-style : none;
    margin     : 0;
    padding        : 9px 0 6px 0;

    a {
      color : #fff;
    }

    a:hover {
      text-decoration : none;
    }

    .dropdown:hover .dropdown-menu {
      display: block;
    }

  }

  @media only screen and (max-width : 481px) {
    ul:first-child {
      border-bottom : 1px solid #fff;
    }
  }

  @media only screen and (min-width : 481px) {
    .right-menu {
      position : absolute;
      right    : 9px;
      top      : 0;
    }
  }

}