nav {
  background     : #000;
  text-transform : uppercase;
  color          : #fff;
  font-family    : 'MyriadPro-Bold';
  font-size      : 16px;

  a {
    color : #fff;
  }

  ul.navbar-left, ul.navbar-right {
    position : relative;
    z-index  : 1;
  }

}

.navbar {
  border-radius  : 0;
  min-height     : 32px;

  .container {
    padding : 0;
  }

}

.nav > li > a {
  padding : 7px 0 2px 0;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.nav > li > a:hover, .nav > li > a:focus {
  background : inherit;
  border-color      : inherit;
  color : inherit;
}

.navbar-nav {
  margin : 0;
  > li > a {
    line-height : inherit;
  }
}

.caret {
  margin-top : -3px;
  margin-right : 3px;
}

.dropdown-menu {
  border-radius : 0;
  box-shadow : none;

  > li > a {
    padding : 5px 15px;
  }
}

@media only screen and (max-width : 770px) {
  nav {
    text-align : center;
  }
}

@media only screen and (min-width : 770px) {

  ul.navbar-center {
    position : absolute;
    width : 100%;
    margin : auto;
    text-align : center;
  }

}