nav {
  text-transform : uppercase;
  color          : #000;
  font-size      : 12px;
  font-weight    : bold;

  a {
    color : #fff;
  }

}

#main {
  background : #fff;
  border-bottom : 1px solid #ccc;

  a {
    color : #000;
  }

}