@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.owl-item .meme {
  margin : 0 10px;
}

#carousel {
  padding:10px 0;
}

#reload .meme {
  border-bottom :1px solid #ccc;
  padding-bottom : 10px;
  margin-bottom  : 10px;
}

.meme {
  color : #999;
  font-size:12px;

  img {
    width : 100%;
  }

  .actions {
    float : right;

    a {
      color : #999;
      text-decoration:none;
    }

    .views {
      color : #999;
    }

    a:hover {
      color : #666;
    }

    .heart.liked {
      color : #e94d8a;
    }

  }

}

.modal-meme {
  margin-bottom : 10px;
}

.modal-lg {
  max-width: 700px;
}

#tweet {
  width: 85px;
  display: inline-block;
}

#like {
  width: 122px;
  display:inline-block;
}

#plusone {
  width: 70px;
  display: inline-block;
}

#home hr {
  margin : 0 0 15px 0;
}

#meme .col-md-4 .meme {
  margin-bottom: 25px;
}

#meme #share-buttons {
  margin-bottom : 10px;
}

#reddit {
  display :inline-block;
  vertical-align: top;
}

.meme {
  position : relative;
}

#thumbnails {
  height : 470px;
  overflow : auto;
}

#thumbnails .even {
  background : #f3f3f3;
}

#thumbnails .meme:not(.current):hover {
  background : #aeaeae;
}

#thumbnails .current {
  background : #8d8d8d;
}

#thumbnails .meme:not(.current):hover, #thumbnails .current {
  color : #fff;
}

#featured {
  padding : 0 15px;
  margin-bottom : 15px;
}

#featured #left, #featured #right {
  padding : 0;
}

#featured #right .meme {
  padding : 11.2px 15px;
}

#right {
  border-top :1px solid #ccc;
  border-right :1px solid #ccc;
  border-bottom :1px solid #ccc;
}

#featured p {
  font-size : 12px;
  line-height : 16px;
}