a:hover {
  color : inherit;
}

h1 {
  font-weight    : normal;
  font-family    : 'MyriadPro-Bold';
  text-transform : uppercase;
  text-align     : center;
  font-size      : 24px;
  letter-spacing : 1px;
  margin  : 0 0 20px 0;
}