#user-actions {
  position : absolute;
  top      : 0;
  right    : 0;
  width    : 93px;
  text-align : center;
  border   : 1px solid #fff;
  border-top : 0;
}

@media (min-width : 768px) {
  #user-actions {
    right    : 15px;
  }
}