<%= render 'shared/header' %>
      <ul class="nav navbar-center">
        <li><%= link_to "White Stream", root_url %></li>
      </ul>
      <ul class="nav navbar-right">
        <li><%= link_to "Contribute", new_meme_url %></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
