<%= render 'shared/header' %>
      <ul class="nav navbar-left">
        <li>&nbsp;</li>
      </ul>
      <ul class="nav navbar-center">
        <li><%= link_to "World Edit", root_url %></li>
      </ul>
      <ul class="nav navbar-right">
        <li><%= link_to "Contribute", new_meme_url %></li>
      </ul>
    </div>
  </nav>
  <div id="wrap">
    <div class="container">
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
  <footer>
    <div class="container">
    <a href="mailto:we.worldedit@gmail.com" id="contact">CONTACT US</a>
      <p class="copyright">
        &copy; 2014 WE media.
      </p>
    </div>
  </footer>
</body>
</html>
